.about {
	text-align: center;
	width: 100%;
	height: 42em;
	margin: 0 auto;
	margin-top: 9em;
	background-image: url(/slide.jpg) ;
	background-size: 100%;
	background-attachment: fixed;
	padding-top: 10em;
	color: black;
	font-size: 18px;
	
}