body {
	font-family: cursive,sans-serif;
}
.App {
	position: fixed;
	padding: 0;
	top: 0;
	width: 100%;
}
.App-header {
	background-color: #555d5e;
	padding: 0;
	top: 14em;
	width: 100%;
	
}
#stickyBar {

}

.titre {
	width: 100%;
	text-align: center;
	height: 12em;
	background-color: #677273;
}
.titreHead {
	padding-top: 1em;
	font-size: 3em;
	color: white;
}
.titreHead2 {
	color: white;
}
/*.imgSlider {
	
	width: 100%;
	height: 60em;
	margin-top: 5em;
}*/
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  }*/
