.exp {
	margin-top: 10em;
	padding-top: 3em;
	margin:0 auto;
	text-align: center;
	width: 100%;
	height: 35em;
	background-color: #f4f4f4;
}
.skillSoustitre {

}
.skill1 {
	text-align: center;
	width: 10%;
	margin:0 auto;

}
.skill2 {
	margin:0 auto;
	width: 10%;
}
.skill3 {
	margin:0 auto;
	width: 10%;
}
.skill4 {
	margin:0 auto;
	width: 10%;
}
.skill5 {
	margin:0 auto;
	width: 10%;
}
.skill6 {
	margin:0 auto;
	width: 10%;	
}
.skill7 {
	margin:0 auto;
	width: 10%;
}
.skill8 {
	margin:0 auto;
	width: 10%;
}